__pycache__/
data/
.ipynb_checkpoints/
*.egg-info/
.pytest_cache/
wandb/
figures/

# Tensorboard logs
logdir/

# IDEA
.idea/modules.xml
gradle.xml
.idea/libraries
usage.statistics.xml
shelf/
.idea/workspace.xml
.idea/tasks.xml